$breakpoints: (
extraTiny: (
    max-width: 300px,
  ),
tiny: (
    max-width: 500px,
  ),
  //Mobile screen:
  small:
    (
      max-width: 600px,
    ),
  //Tablet/TinyMonitor screen:
  medium:
    (
      min-width: 600px,
    )
    and
    (
      max-width: 992px,
    ),
  //Desktop/TinyTV screen:
  large:
    (
      min-width: 992px,
    )
    and
    (
      max-width: 1200px,
    ),
  //Large TVs and Monitors screen:
  extraLarge:
    (
      min-width: 1200px,
    ),
) !default;

@mixin screen($sizes...) {
  @each $value in $sizes {
    @if map-has-key($breakpoints, $value) {
      @media #{inspect(map-get($breakpoints, $value))} {
        @content;
      }
    } @else {
      @warn "No value could be retrieved from `#{$value}`. "
            + "Available breakpoints👉🏽 #{map-keys($breakpoints)}.";
    }
  }
}