/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

//==========Colors:
$first-color: #db0000;
$first-color-lighter: lighten($first-color, 10%);
$alt-color: darken($first-color, 15%);
$inactive-color: rgba($first-color, 60%);

$title-color: #fafafa;
$txt-color: #d7d7db;
$txt-color-light: #c5c5cb;

$body-color: #14171a;
$container-color: #1b1f23;
$shadow-color: rgba(#fff, 0.2);
$border-color: #666;

$scroll-bar-color: #262636;
$scroll-thumb-color: #6f6f9b;
$scroll-hover-color: #3d3d5c;

//========== Font and Typography:
$body-font: "Inter", sans-serif;

// .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...
$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$txt-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

//========== Font Weight:
$wgt-extra-light: 200;
$wgt-semi-bold: 600;
$wgt-bolder: 800;

/* ========== Margins:
 .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mg-0-25: 0.25rem;
$mg-0-5: 0.5rem;
$mg-0-75: 0.75rem;
$mg-1: 1rem;
$mg-1-5: 1.5rem;
$mg-1-75: 1.75rem;
$mg-2: 2rem;
$mg-2-5: 2.5rem;
$mg-2-75: 2.75rem;
$mg-3: 3rem;

//========== Z-index:
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

//========== Border Radius:
$border-outside-radius: 15px;
$border-inside-radius: 20px;
