@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.featuredMedia {
  width: 100%;
  height: 28rem;
  margin: 4rem 0;

  background-size: 100%;
  background-color: $container-color;
  background-position-x: center;
  background-position-y: -20rem;
  background-repeat: no-repeat;

  @include screen("medium") {
    height: 30rem;
    flex-direction: column;

    background-size: 100%;
    background-position-x: center;
    background-position-y: -6rem;
    background-repeat: no-repeat;
  }
}

.darkGradient {
  width: inherit;
  height: inherit;
  background: linear-gradient(to left, #111 10%, transparent 80%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include screen("medium") {
    flex-direction: column;
    background: linear-gradient(to top, #111 20%, transparent 80%);
  }

  .video iframe {
    width: 32rem;
    height: 16rem;
    margin-left: 2rem;

    @include screen("medium") {
      width: 22rem;
      height: 12rem;
      margin: 0 0 0 0;
    }
    @media screen and (max-width: 379px) {
      width: 18rem;
      height: 11rem;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: $mg-2;
  width: 41%;

  @include screen("medium") {
    justify-items: center;
    align-items: center;
    margin: $mg-0-5 0 0 0;
  }

  .title {
    width: 72%;
    font-size: calc($h2-font-size + 0.2rem);

    @include screen("large") {
      width: 68%;
    }
    @include screen("medium") {
      width: 60vw;
      text-align: center;
    }
  }
}

.secondaryBtns {
  margin: $mg-1 0;
  font-weight: $wgt-semi-bold;
  font-size: $tiny-font-size;
  display: flex;
  gap: $mg-1-5;

  @media screen and(max-width: 631px) {
    width: 80vw;
    justify-content: center;
  }

  .playBtn,
  .moreBtn {
    border-radius: $border-inside-radius;
    background: $border-color;
    border: 1px solid $border-color;
    color: white;
    padding: 0.6rem 0.7rem;

    &:hover {
      background: $body-color;
    }
  }
}

.description {
  font-size: $tiny-font-size;
  width: 68%;

  @include screen("medium") {
    width: 60vw;
    text-align: center;
    margin-top: $mg-0-5;
  }
  @include screen("small") {
    width: 80vw;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
