@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.heroSection {
  width: 100%;
  height: 88vh;

  background-size: 72%;
  background-position-x: right;
  background-position-y: -28rem;
  background-repeat: no-repeat;

  @include screen("medium") {
    width: 100%;
    background-size: cover;
    background-position: right center;
  }
}

.rightGradient {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
}

.mediaContent {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: $biggest-font-size;

    @include screen("large") {
      width: 40rem;
    }
    @include screen("medium") {
      width: 34rem;
    }
    @include screen("small") {
      width: 20rem;
    }
  }
}

.info {
  margin-top: $mg-1-5;
  @include screen("medium") {
    margin-top: $mg-1;
  }

  .row {
    display: flex;
    margin-top: $mg-0-5;
    //👇🏽 Apply this style to all children:
    & > * {
      margin-right: $mg-1;
    }
  }

  .points {
    color: #44dd66;
  }

  .desc {
    margin-top: $mg-0-75;

    overflow: hidden;
    text-overflow: ellipsis;
    //☝🏽 Add "..." in the end
    display: -webkit-box;
    -webkit-line-clamp: 5;
    //☝🏽 Line count
    -webkit-box-orient: vertical;

    @include screen("extraLarge", "large") {
      width: 35rem;
    }
    @include screen("medium", "small") {
      width: 23rem;
    }
    @include screen("tiny") {
      width: 18rem;
    }
  }
}

.btns {
  margin: $mg-1 0;
  font-weight: $wgt-semi-bold;
  display: flex;
  gap: $mg-1;

  .primaryBtn {
    border-radius: $border-inside-radius;
    background: white;
    color: #000;
    padding: 0.7rem 1.5rem;

    &:hover {
      opacity: 0.7;
    }
  }

  .moreBtn {
    border-radius: $border-inside-radius;
    background: $border-color;
    border: 1px solid $border-color;
    color: white;
    padding: 0.65rem 0.75rem;

    &:hover {
      background: transparent;
    }
  }
}
