@use "../abstracts/variables" as *;

/* Not necessary anymore, because container 
already have this styles:

.sectionRow {
  .title,
  .content {
    margin-left: $mg-2;
  }
} */

.content {
  display: flex;
  overflow-x: hidden;
  //Title margin:
  margin-top: $mg-1;
  //Space between sections:
  margin-bottom: $mg-1-5;
  //Space between handle:
  margin-left: $mg-1;
  background-color: $container-color;
}

.media {
  display: flex;
}

.item {
  display: flex;
  width: 10rem;
  //Spacing between imgs:
  margin-right: $mg-0-25;
  transition: all ease 0.2s;

  img {
    width: 100%;
    cursor: pointer;
    transform: scale(0.9);

    &:hover {
      transform: scale(1);
    }
  }
}

.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  position: absolute;
  width: $mg-2;
  height: 15rem;
  margin: $mg-1 0 0 $mg-1;

  background: rgb($container-color, 0.8);
  z-index: $z-tooltip;
  cursor: pointer;

  font-size: 3.5rem;
  color: $title-color;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background: $border-color;
  }
  &:hover p {
    transform: scale(1.2);
  }
}

#rightBtn {
  right: 0;
  padding-left: $mg-0-25;
}
#leftBtn {
  left: 0;
  padding-right: $mg-0-25;
}
