@use "../abstracts/variables" as *;

/* Make txt size responsive:
@media screen and (max-width: 980px) {
  $biggest-font-size: 2rem;
  $h1-font-size: 1.5rem;
  $h2-font-size: 1.25rem;
  $h3-font-size: 1.125rem;
  $txt-font-size: 1rem;
  $normal-font-size: 0.938rem;
  $small-font-size: 0.813rem;
  $tiny-font-size: 0.75rem;
}
*/
