@use "../abstracts/variables" as *;

/* Make txt size responsive:
@media (max-width: 980px) {
  $biggest-font-size: 3rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $txt-font-size: 1.1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}
*/
