@use "../abstracts/variables" as *;

.home {
  font-size: $txt-font-size;
  color: $txt-color;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
